:root {
    --primary-color: #000000;
    --secondary-color: #ffffff; 
    --background-color: #ffffff;
    --text-color: #000000;
}



.post-slider{
    position: relative;
}    

.post-slider .post-wrapper{
    width: 84%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
    width: 100%;
    max-width: 1200px;   
}


.post-slider .post-wrapper .post{
    height: 300px;
    width: 300px;
    margin: 0px 10px;
    display: inline-block;
}


i{
    cursor: pointer;
}

.post-slider h1{
    text-align: center;
    margin: 30px auto;
}

.post-slider .next{
    position: absolute;
    top: 50%;
    right: 50px;
    font-size: 1.5em;
}

.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 1.5em;
}


.blog-card{
    background-color: #ecebeb;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    /* min-height: 420px; */
}

.blog-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.blog-image{
    position: relative;
    overflow: hidden;
    height: 200px;
}

.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.blog-image:hover img{
    transform: scale(1.1);
}

.blog-data{
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
}

.blog-content{
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;  */

}

.blog-title{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 15px;
    transition: color 0.3s ease;
    text-align: start;
    max-width: 380px;
    height: 100px;

}

.blog-title:hover{
    color: #5f5b5b;
}

.blog-description{
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: auto;
    text-align: start;
    height: 80px !important;
    /* flex-grow: 1; */
}

.blog-footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.blog-author{
    font-size: 14px;
    color: #5f5b5b;
}

.read-more{
    text-decoration: none;
    color: #ecebeb;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.read-more:hover{
    background-color: #333;
}

.fab{
    color: #000000;
}

.content{
    width: 90%;
    margin: 30px auto 30px;    
}

.content .main-content{
    width: 70%;
    float: left;

}

.content .side-bar{
    width: 30%;
    float: right;
    height: 300px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.recent-post-title{
    margin: 20px;
}

.content .main-content .post{
    display: flex;
    width: 95%;
    height: 270px;
    margin: 10px auto;
    border: 5px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    flex-direction: row;
    overflow: hidden;
    /* height: 100%; */

}

.content .main-content .post:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.post-image-data{
    position: relative;
    width: 30%; 
    height: 100%;
    flex-shrink: 0;}


.content .main-content .post-image-data img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    float: left;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 3px -1px 98px 3px rgba(0,0,0,0.12);
    -webkit-box-shadow: 3px -1px 98px 3px rgba(0,0,0,0.12);
    -moz-box-shadow: 3px -1px 98px 3px rgba(0,0,0,0.12);

}

.content .main-content .post .post-data{
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
}

.post-preview{
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.post-title a{
    font-weight: 600;
    /* line-height: 1.4; */
    /* margin-bottom: 10px; */
    font-size: 0.9em;
    transition: color 0.3s ease;
    text-align: start;
    text-decoration: none;
    color: #000000;
}

.post-title a:hover{
    color: #5f5b5b;
}

.post-description{
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: auto;
    text-align: start;
}

.post-footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-author{
    font-size: 15px;
    color: #5f5b5b;
}

.post-read-more{
    text-decoration: none;
    color: #ecebeb;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.post-read-more:hover{
    background-color: #333;
}

.post-likes{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

.post-likes i{
    color: #ff0000;
}

.post-likes span{
    color: #000000;
    font-weight: bold;
    margin: 0 5px;
}

.content .side-bar .section{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.topics img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.content .side-bar .section.search{
    margin-top: 80px;
}

.text-input{
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 10px;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    border: 1px solid #ccc;
}

.content .side-bar .section.topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #ccc;
}

.content .side-bar .section.topics ul li a{
    text-decoration: none;
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #ccc;
    transform: translateY(10px);
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.content .side-bar .section.topics ul li a:hover{
    background-color: #ecebeb;
    transform: translateY(0px);

}

section-title{
    font-size: 0.9em;
    margin: 10px 0 10px 0px;
    color: #000000;
}