:root {
/* Color Theme Swatches in Hex */

.cor1-1-hex { color: #88C3FB; }
.cor1-2-hex { color: #BEE5B0; }
.cor1-3-hex { color: #FFFFFF; }
.cor1-4-hex { color: #F5F5F5; }

/* Color Theme Swatches in RGBA */
.cor1-1-rgba { color: rgba(136, 195, 251, 1); }
.cor1-2-rgba { color: rgba(190, 229, 176, 1); }
.cor1-3-rgba { color: rgba(255, 255, 255, 1); }
.cor1-4-rgba { color: rgba(245, 245, 245, 1); }

/* Color Theme Swatches in HSLA */
.cor1-1-hsla { color: hsla(209, 93, 75, 1); }
.cor1-2-hsla { color: hsla(104, 50, 79, 1); }
.cor1-3-hsla { color: hsla(0, 0, 100, 1); }
.cor1-4-hsla { color: hsla(0, 0, 96, 1); }

}

/* 
.forum-page {
  min-height: 100%;
  background-color: #f9f9f9;
} */

a {
  text-decoration: none;
}


.profile-pic {
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  border: 3px solid #BEE5B0;
}



.forum-post {
  background-color: white;
  transition: box-shadow 0.2s ease;
  border: 2px solid #BEE5B0;
  border-radius: 10px;
}

.forum-post:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}
.texto-publicar-comentario{
    resize: none;
    border: 2px solid #BEE5B0;
}

.publicar-comentario{
    background-color: #BEE5B0 !important;
    border: none !important;
}

.publicar-comentario:hover{
    background-color: #88c3fbac !important;
}

.publicar-comentario:active{
    background-color: #88c3fbac !important;
}

.posts-sugeridos a{
    color: #333;    
}

.posts-sugeridos a:hover{
    transition: 1s all;
    color: #88C3FB;    
}


.col-lg-8{
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.comentarios-acoes{
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.post-nome{
    font-size: 15px;
    color: #333333a0;
   
}

.post-nome{
    /* margin-left: -2.5em; */
    margin-top: 0.2em;
}


.img-nome-perfil{
  display: flex;
  flex-direction: row;  
}

.nome-email-autor{
  display: flex;
  flex-direction: column;
}

.nome-email-autor strong, span{
  color: #333;
}

.nome-email-autor span{
  font-size: 14px;
}

.resposta-ver-comentario{
  color: #333;
}

.resposta-ver-comentario:hover{
    transition: 1s all;
    color: #88C3FB;
}

.curtir-comentario i:hover{
  color: #d63384;
}

.modal-content{
    border: 3px solid #88C3FB;
}

.modal-body{
    color: #333;
}

.modal-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

 .cancelar-resposta{
    background-color: #88C3FB;
    border: none;
    color: #333;
}
 .cancelar-resposta:hover{
    background-color: #88c3fb9f;
    border: none;
    color: #333;
    transition: 1s all;
}

.cancelar-resposta:active{
    background-color: #88c3fb9f
}


.publicar-respostar{
    background-color: #BEE5B0;
    border: none;
    color: #333;
}
.publicar-respostar:hover{
    background-color: #bee5b0c3;
    border: none;
    color: #333;
    transition: 1s all;
}

.publicar-respostar:active{
    background-color: #bee5b0c3
}


@media (max-width: 1500px) {
  .sidebar-toggle {
    display: block;
    position: fixed;
    top: 100px;
    z-index: 2000;
  }

  .left-sidebar {
    background-color: #e0e0e0;
    transform: translateX(-100%);
    position: absolute;  
    z-index: 1000;
    border-radius: 12px;

}

  .left-sidebar.active {
  /* position: fixed; */
    transform: translateX(0);
    position: fixed;
    z-index: 1060;
  }

  .col-lg-7{
    margin-top: 4em;
  }

  .perfil-box{
    margin-top: 4em;
    margin-bottom: 1em;
  }

  .posts-sugeridos{
    display: none;
  }
  .nova-postagem{
    margin-bottom: 5em;
  }

}