.forum-page {
  min-height: 100%;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

.perfil-box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);  
}

.perfil-box h6 {
  margin-left:1rem;
  font-size: 1.2rem;
  color: #333;
}

.perfil-box img{
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.left-sidebar {
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.profile-pic {
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.forum-post {
  background-color: white;
  transition: box-shadow 0.2s;
}

.forum-post:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.right-panel textarea {
  resize: none;
}

.forum-wrapper {
  position: relative;
  
}

.d-none {
  display: none;
}

.sidebar-toggle {
  position: absolute;
  top: 5px;
  left: 10px;
  background: #e0e0e0;
  color: black;
  border: 1 px solid #000;
  padding: 0.5rem 1rem;
  z-index: 1001;
  display: none;
  border-radius: 10px;
}

.col-lg-7{
  margin-bottom: 4em;
}



@media (max-width: 1500px) {
  .sidebar-toggle {
    display: block;
    position: fixed;
    top: 100px;
    z-index: 2000;
  }

  .left-sidebar {
    background-color: #e0e0e0;
    transform: translateX(-100%);
    position: absolute;  
    z-index: 1000;
    border-radius: 12px;

}

  .left-sidebar.active {
  /* position: fixed; */
    transform: translateX(0);
    position: fixed;
    z-index: 1060;
  }

  .col-lg-7{
    margin-top: 4em;
  }

  .perfil-box{
    margin-top: 4em;
    margin-bottom: 1em;
  }

  .posts-sugeridos{
    display: none;
  }
  .nova-postagem{
    margin-bottom: 5em;
  }

}