:root {
/* Color Theme Swatches in Hex */

.cor1-1-hex { color: #88C3FB; }
.cor1-2-hex { color: #BEE5B0; }
.cor1-3-hex { color: #FFFFFF; }
.cor1-4-hex { color: #F5F5F5; }

/* Color Theme Swatches in RGBA */
.cor1-1-rgba { color: rgba(136, 195, 251, 1); }
.cor1-2-rgba { color: rgba(190, 229, 176, 1); }
.cor1-3-rgba { color: rgba(255, 255, 255, 1); }
.cor1-4-rgba { color: rgba(245, 245, 245, 1); }

/* Color Theme Swatches in HSLA */
.cor1-1-hsla { color: hsla(209, 93, 75, 1); }
.cor1-2-hsla { color: hsla(104, 50, 79, 1); }
.cor1-3-hsla { color: hsla(0, 0, 100, 1); }
.cor1-4-hsla { color: hsla(0, 0, 96, 1); }

}

#SecaoIndex1 {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
}

#row{
    margin: 5em 0 -8em 0;
}

#sectionLeft, #sectionRight {
    flex: 1 1 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#sectionLeft {
    text-align: left;
}

#sectionRight {
    align-items: center;
}

#sectionRight img {
    max-width: 300px; 
    width: 100%;
    height: auto;
}

#btn-section {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 150px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#btn-section:hover {
    background-color: #333;
}

svg{
    display: block;
}

#Section-posts{
    background-color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Section-posts h1{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: -2em;
}

#Section-posts p{
    font-size: 1em;
    max-width: 600px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
}

#blog-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
    width: 100%;
    max-width: 1200px;   
}

.blog-card{
    background-color: #ecebeb;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}

.blog-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.blog-image{
    position: relative;
    overflow: hidden;
    height: 200px;
}

.blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.blog-image:hover img{
    transform: scale(1.1);
}

.blog-data{
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
}

.blog-content{
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.blog-title{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 15px;
    transition: color 0.3s ease;
    text-align: start;
}

.blog-title:hover{
    color: #5f5b5b;
}

.blog-description{
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: auto;
    text-align: start;
}

.blog-footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.blog-author{
    font-size: 14px;
    color: #5f5b5b;
}

.read-more{
    text-decoration: none;
    color: #ecebeb;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.read-more:hover{
    background-color: #333;
}

.fab{
    color: #000000;
}

#Section-sobre-nos{
    width: 100%;
    min-height: 70vh;
    background-color: #ecebeb;
    margin-top: -12em;
}

#sobre-nos-container{
  width: 80%;
  display: block;
  margin: auto;
}

.content-section{
    float: left;
    width: 55%; 
}

.video-section{
    float: right;
    max-height: 100px;
}

.content-section h1{
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: start;
}

.content-section h3{
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: start;
    color: #3d3c3c;
}

.content-section p{
    font-size: 1em;
    max-width: 600px;
    text-align: start;
    line-height: 1.5;
}

.content-section .sobre-button{
    background-color: #000000;
    border: none;
    padding: 10px 20px;
    width: 130px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.sobre-button a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.content-section .sobre-button:hover {
    background-color: #333;
}

.content-section .redes-sobre{
    margin-top: 30px;
}

.fab{
    color: #000000;
    font-size: 30px;
    margin-right: 10px;
    padding: 0 5px;
    transition: color 0.3s ease;
}

.fab:hover{
    color: #7e7777;
}

#Section-contato{
    background-color: #fff;
    margin-top: -18em;
    padding: 4em 0;
}

#contato-container {
    text-align: center;
    margin-bottom: 2em;
}

.contato-title h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.contato-content h3 {
    font-size: 1.8em;
    font-weight: 500;
    color: #3d3c3c;
    margin-bottom: 10px;
}

.contato-content p {
    font-size: 1em;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.6;
}

.contato-form {
    display: flex;
    justify-content: center;
}

.contato-form form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contato-form input,
.contato-form textarea {
    width: 48%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    box-sizing: border-box;
}

.contato-form textarea {
    width: 100%;
    margin-bottom: 20px;
    resize: none;
}

.contato-form button {
    display: block;
    width: 100%;
    max-width: 300px; 
    margin: 5px auto 50px auto; 
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contato-form button:hover {
    background-color: #333;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


@media (max-width: 768px) {
    #SecaoIndex1 {
        flex-direction: column;
        text-align: center;
    }

    #sectionLeft, #sectionRight {
        flex: 1 1 100%;
        align-items: center;
    }

    #Section-posts h1{
       margin-top: -1em;
    }

    .sobre-nos-container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;  
    }

    #Section-sobre-nos h1{
        margin-top: 5em;
     }

    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .video-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .video-section video{
        width: 100%;
        height: auto;
    }

    .content-section h1{
        font-size: 2em;
        margin-bottom: 10px;
        font-weight: 600;
        text-align: center;
    }

    .content-section h3{
        font-size: 1.5em;
        margin-bottom: 10px;
        font-weight: 500;
        text-align: center;
        color: #3d3c3c;
    }
    .content-section p{
        font-size: 1em;
        max-width: 600px;
        text-align: center;
        line-height: 1.5;
    }

    .sobre-button{
        margin: 20px auto;
    }

    .redes-sobre {
        display: flex;
        justify-content: center; 
        margin-bottom: 30px;
    }

    #Section-contato {
        margin-top: -6em;
    }

    .contato-form form {
        flex-direction: column;
        align-items: center;
    }

    .contato-form input,
    .contato-form textarea,
    .contato-form button {
        width: 80%;
    }

    .contato-form button {
        width: 100%;  
        margin-bottom: 70px;
    }
}