@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff; 
    --background-color: #ffffff;
    --text-color: #000000;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eceaea;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

#nav {
    background-color: #ffffff  !important;
}

#nav img {
    width: 6em;
    height: auto;
}

.footer img {
    width: 3em;
    height: auto;
    display: block;
    margin: 0 auto;
}

.divNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#divItensNav  {
    font-family: "Poppins", sans-serif;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    transition: all .8s;
    letter-spacing: 0.5px;
}

#divItensNav .nav-item{
    position: relative;
    margin: 12px;
    padding-bottom: 3px;
    transition: all .8s;
}

#divItensNav .nav-item:hover{
    color: #000000;
}

#divItensNav .nav-item::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #000000;
    transition: width .8s;
}

#divItensNav  .nav-item:hover::before,
#divItensNav  .nav-item.active::before{
    width: 100%;
}

#btn-login{
    background-color: #000000 ;
    border: none;
    color: #ffffff;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
    transition: all .8s;
}

#btn-login:hover{
    background-color: #000000a9;
    color: #ffffff;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}