{% extends 'template.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/ajuda.css' %}">

{% endblock %}

{% block conteudo %}
<section id="Section-ajuda" class="py-5">
    <div class="container">
        <div class="ajuda-title">
            <h1>Ajuda & Contatos</h1>
            <h2>Encontre Psicólogos Parceiros</h2>
        </div>

        <div class="ajuda-cards">
            {% for psicologo in psicologos %}
            <div class="card">
                <div class="card-image">
                    {% if psicologo.foto_perfil %}
                        <img src="{{ psicologo.foto_perfil.url }}" alt="{{ psicologo.nome }}">
                    {% else %}
                        <img src="https://static-00.iconduck.com/assets.00/person-circle-icon-512x512-zwz8ctki.png" alt="Psicólogo">
                    {% endif %}
                </div>
                <div class="card-content">
                    <h3>{{ psicologo.nome }}</h3>
                    <p>
                        {% if psicologo.area_atuacao %}
                            {{ psicologo.area_atuacao }}
                        {% else %}
                            Psicólogo parceiro da plataforma.
                        {% endif %}
                        {% if psicologo.bio %}
                            {{ psicologo.bio }}
                        {% endif %}
                        
                    </p>
                    <a href="mailto:{{ psicologo.email }}" class="conversar-btn">Conversar</a>
                </div>
            </div>
            {% empty %}
            <p>Nenhum psicólogo disponível no momento.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
