{% extends 'template.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detalhe_post.css' %}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

{% endblock %}
{% block titulo %}{{ post.titulo }}{% endblock %}


{% block conteudo %}
<!--
 <a href="{% url 'blog' %}">← Voltar</a>

<h1>{{ post.titulo }}</h1>
{% if request.session.usuario_id == post.autor.usuario_id|stringformat:"s" and post.autor.tipo == "psicologo" %}
    <a href="{% url 'editar_post' post.post_id %}">Editar</a> |
    <a href="{% url 'excluir_post' post.post_id %}">Excluir</a>

{% endif %}

{% if request.session.usuario_id != post.autor.usuario_id|stringformat:"s" %}
    <form method="post" action="{% url 'curtir_post' post.post_id %}">
        {% csrf_token %}
        <button type="submit">Curtir postagem ({{ post.curtida_set.count }})</button>
    </form>
{% endif %}


<div style="display: flex; align-items: center; margin-bottom: 1em;">
    {% if post.autor.foto_perfil %}
        <img src="{{ post.autor.foto_perfil.url }}" alt="Foto de {{ post.autor.nome }}" >
    {% else %}
        <img src="{% static 'img/perfil_padrao.png' %}" alt="Foto padrão">
    {% endif %}
    <strong>Escrito por: {{ post.autor.nome }}</strong>
</div>

<div class="post-content">
    {{ post.conteudo|safe }}
</div>

<p><small>Publicado em 
    {{ post.criado_em|date:"d/m/Y H:i" }}
</small></p>



<h2>Comentários</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="comentario_pai_id" id="comentario_pai_id" />
    <button type="submit">Comentar</button>
</form>

<ul>
    {% for comentario in comentarios %}
        <li>
            <div>
                {% if comentario.autor.foto_perfil %}
                    <img src="{{ comentario.autor.foto_perfil.url }}" alt="Foto de {{ comentario.autor.nome }}" >
                {% else %}
                    <img src="{% static 'img/perfil_padrao.png' %}" alt="Foto padrão de {{ comentario.autor.nome }}">
                {% endif %}
            </div>
            <p><strong>{{ comentario.autor.nome }}</strong>: {{ comentario.texto }}</p>
            <p><small>{{ comentario.data_criacao|date:"d/m/Y H:i" }}</small></p>

            <form method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="comentario_pai_id" value="{{ comentario.comentario_id }}">
                <textarea name="texto" placeholder="Responder..."></textarea>
                <button type="submit">Responder</button>
            </form>

           <form method="post" action="{% url 'curtir_comentario' comentario.comentario_id %}">
                {% csrf_token %}
                <button type="submit">Curtir ({{ comentario.curtida_set.count }})</button>
            </form>

            {% if comentario.comentario_set.all %}
                <ul>
                    {% for resposta in comentario.comentario_set.all %}
                        <div>
                            {% if resposta.autor.foto_perfil %}
                                <img src="{{ resposta.autor.foto_perfil.url }}" alt="Foto de {{ resposta.autor.nome }}" >
                            {% else %}
                                <img src="{% static 'img/perfil_padrao.png' %}" alt="Foto padrão de {{ resposta.autor.nome }}">
                            {% endif %}
                        </div> 

                        <li><strong>{{ resposta.autor.nome }}</strong>: {{ resposta.texto }}</li>
                        <p><small>{{ comentario.data_criacao|date:"d/m/Y H:i" }}</small></p>
                        <form method="post" action="{% url 'curtir_comentario' resposta.comentario_id %}">
                            {% csrf_token %}
                            <button type="submit">Curtir ({{ resposta.curtida_set.count }})</button>
                        </form>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul> -->



    <div class="page-wrapper">

        <div class="content clearfix">
            <!-- <div class="voltar-blog">
            <a >←</a>
            </div> -->
               <div class="col-lg-2 p-0">
                        <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>

                <div class="left-sidebar p-3 text-white">

                    <div class="perfil-box d-flex align-items-center gap-2 mb-4">
                    <img  src="{% static 'assets/images/default_foto.png' %}" width="60" alt="Perfil" class="profile-pic">
                    <h6 class="mb-0">Usuário</h6>
                    </div>

                    <div class="d-grid gap-2">
                    <button class="btn btn-light text-start"><i class="bi bi-house-door me-2"></i>Página Inicial</button>
                    <button class="btn btn-light text-start"><i class="bi bi-search me-2"></i>Pesquisar</button>
                    <button class="btn btn-light text-start"><i class="bi bi-bell me-2"></i>Notificações</button>
                    <button class="btn btn-light text-start"><i class="bi bi-person me-2"></i>Meu Perfil</button>
                    <a class="btn btn-light text-start" href="{% url 'forum' %}" ><i class="bi bi-chat  me-2"></i> Fórum</a>
                    <a class="btn btn-light text-start" href="{% url 'blog' %}"><i class="bi bi-file-earmark-text me-2"></i>Blog</a>
                    <a class="btn btn-light text-start" href="{% url 'admin_posts' %}"><i class="bi bi-file-earmark-text me-2"></i>Administrar Posts</a>

                    </div>
                </div>
                </div>
            <div class="main-content">
                <h1 class="post-title"> {{post.titulo}}  </h1>
                <div class="post-content">
                    {{ post.conteudo|safe }}
                </div>
                {% if request.session.usuario_id != post.autor.usuario_id|stringformat:"s" %}
                    <form method="post" action="{% url 'curtir_post' post.post_id %}">
                        {% csrf_token %}
                        <button type="submit">Curtir postagem ({{ post.curtida_set.count }})</button>
                    </form>
                {% else %}
                    <hr><p class="curtidas-count">❤️{{ post.curtida_set.count }}</p>
                {% endif %}
            </div>  

            <div class="side-bar">
                <div class="section perfil-autor">
                <a href="{% url 'perfil_usuario' post.autor.usuario_id %}">
                 <div class="post-author-image-perfil">
                     {% if post.autor.foto_perfil %}
                        <img src="{{ post.autor.foto_perfil.url }}" alt="">
                            {% else %}
                           <img  src="{% static 'assets/images/default_foto.png' %}" width="60" alt="Foto padrão">
                         {% endif %}
                         <div class="autor-noem-email">
                      <span class="post-author-perfil">{{ post.autor.nome }}</span>
                      <p class="autor-email"><span>{{ post.autor.email }}</span></p>
                   </div>
                    </div>
                    <div class="autor-bio">
                       <p class="paragrafo-bio">{{ post.autor.bio}}</p> 
                        <p class="autor-especialidade"><span>Especialidade: {{ post.autor.area_atuacao }}</span></p>                        
                    </div>
                </a>
                </div>

                <div class="section topics">
                    <h4 class="section-title">Outros posts do autor(a)</h4>
                        <ul>
                 {% for post in posts_do_autor %}
                 <li>
                    <a href="{% url 'detalhe_post' post.post_id %}">
                        <div class="post-author-image">
                            {% if post.thumbnail  and post.thumbnail.name%}
                                        <img src="{{ post.thumbnail.url }}"   width="60" alt=" {{ post.thumbnail.url }} ">
                                    {% else %}
                                    <img  src="{% static 'assets/images/default_thumbnail.jpeg' %}" width="30" alt="Thumbnail padrão">
                                {% endif %} 
                                <div class="titulo-post">
                        <span class="post-author">{{ post.titulo }}</span>
                        </div>
                    </div>
                </a>
                 </li>
                {% empty %}
                 <li>Nenhum outro post deste autor.</li>
                    {% endfor %}
                        </ul>
                </div>
            </div>
        </div>

        <div class="comentarios-section col-lg-7 ">

        <div class="perfil-box forum-post">
            <h3>Comentários</h3>

            <form method="post" class="mt-3 mb-4 position-relative">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="comentario_pai_id" id="comentario_pai_id" />
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mt-2 btn-comentar">Comentar</button>
                </div>
            </form>

            {% for comentario in comentarios %}
            <div class="comentario forum-post p-3 mb-3">
            <div class="d-flex align-items-center mb-2" id="comentario-{{ comentario.comentario_id }}">
                <a href="{% url 'perfil_usuario' comentario.autor.usuario_id %}">
                {% if comentario.autor.foto_perfil %}
                <img class="profile-pic me-2" src="{{ comentario.autor.foto_perfil.url }}" alt="{{ comentario.autor.nome }}">
                {% else %}
                <img class="profile-pic me-2" src="{% static 'assets/images/default_foto.png' %}" width="60" alt="Foto padrão">
                {% endif %}
                <strong>{{ comentario.autor.nome }}</strong>
                </a>
            </div>
            <p class="mb-1">{{ comentario.texto }}</p>
            <p class="text-muted data-comentario position-absolute" style="font-size: 0.85rem;">{{ comentario.data_criacao|date:"d/m/Y H:i" }}</p>

            <form method="post" class="mb-2">
                {% csrf_token %}
                <input type="hidden" name="comentario_pai_id" value="{{ comentario.comentario_id }}">
                <textarea class="form-control mb-1" name="texto" rows="2" placeholder="Responder..."></textarea>
               
                <div class="acoes-comentarios position-absolute"  style="bottom: 0px; right: 50px; ">
                <button class="btn-icone responder-btn" type="submit">
                     <i class="bi bi-reply"></i> Responder
                </button>
               
                </div>
            </form>

            <form method="post" action="{% url 'curtir_comentario' comentario.comentario_id %}">
                {% csrf_token %}
             
                <div class="acoes-comentarios position-absolute" style="bottom: 0px; right: 10px;">
                <button type="submit" class="btn-icone curtir_form">
                    <i class="bi bi-heart"></i> {{ comentario.curtida_set.count }}
                </button>
                </div>

                </form>     



            </div>
                {% if comentario.comentario_set.all %}
            <div class="respostas ms-4 mt-3 ">
                {% for resposta in comentario.comentario_set.all %}
                <div class="resposta forum-post p-2 mb-2 position-relative">
                <div class="d-flex align-items-center mb-1">
                    <a href="{% url 'perfil_usuario' resposta.autor.usuario_id %}">
                    {% if resposta.autor.foto_perfil %}
                    <img class="profile-pic me-2" src="{{ resposta.autor.foto_perfil.url }}" alt="{{ resposta.autor.nome }}">
                    {% else %}
                    <img class="profile-pic me-2"  src="{% static 'assets/images/default_foto.png' %}" width="60" alt="Foto padrão">
                    {% endif %}
                    <strong>{{ resposta.autor.nome }}</strong>
                    </a>
                </div>
                <p class="mb-1">{{ resposta.texto }}</p>
                <p class="text-muted data-resposta" style="font-size: 0.85rem; top: 20px; right: 10px; position: absolute;">{{ resposta.data_criacao|date:"d/m/Y H:i" }}</p>

                <form method="post" action="{% url 'curtir_comentario' resposta.comentario_id %}">
                    {% csrf_token %}
                    
                    <button type="submit" class="btn-icone" style="position: absolute; bottom: 10px; right: 10px;">
                    <i class="bi bi-heart"></i> {{ resposta.curtida_set.count }}
                </button>
                </form>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        
            {% empty %}
            <p class="text-muted">Nenhum comentário ainda.</p>
            {% endfor %}
        </div>
        
        </div>



    </div>


    <script>
    function toggleSidebar() {
    document.querySelector('.left-sidebar').classList.toggle('active');
  }

    document.addEventListener('click', function(event) {
    const sidebar = document.querySelector('.left-sidebar');
    const toggle = document.querySelector('.sidebar-toggle');
    
    if (sidebar.classList.contains('active') && !sidebar.contains(event.target) && !toggle.contains(event.target)) {
      sidebar.classList.remove('active');
    }
  });


  
    </script>
{% endblock %}
