{% extends 'template.html' %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block conteudo %}
<div class="container">
    <h2>Editar Post</h2>
    <a href="{% url 'detalhe_post' post.post_id %}" class="btn btn-secondary mb-3">← Voltar</a>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="{{ form.titulo.id_for_label }}">Título:</label>
            {{ form.titulo }}
        </div>
        
        <div class="form-group">
            <label for="{{ form.thumbnail.id_for_label }}">Thumbnail:</label>
            {{ form.thumbnail }}
            {% if post.thumbnail %}
                <div class="mt-2">
                    <small>Thumbnail atual:</small>
                    <img src="{{ post.thumbnail.url }}" alt="Thumbnail atual" class="img-thumbnail" style="max-height: 100px;">
                </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="{{ form.conteudo.id_for_label }}">Conteúdo:</label>
            {{ form.conteudo }}
        </div>
        
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a href="{% url 'detalhe_post' post.post_id %}" class="btn btn-outline-secondary">Cancelar</a>
    </form>
</div>


{% endblock %}