{% extends 'template.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/login_cadastro_base.css' %}">
{% endblock %}


{% block conteudo %}

    <div class="tela">
        <div class="imagem">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="onda">
                <path d="M0,0 C150,100 350,0 500,100 L500,150 L0,150 Z" fill="#fff" />
            </svg>
            <div class="logo-amae">
                <img src="{% static 'assets\images\logo_amae.png' %}" alt="">
            </div>
        </div>
           
       
        <div class="formulario-container">
            <div class="fundo {% if tipo == 'psicologo' %}psicologo{% else %}usuario{% endif %}">
                <div class="navegacao">
                    <a href="#" onclick="setTipo('usuario')" style="color: #88C3FB;">Usuário</a>
                    <a class="separador" style="color: #333;">|</a>
                    <a href="#" onclick="setTipo('psicologo')" style="color: #BEE5B0;">Psicólogo</a>
                </div>
    
       
                <!-- FORM LOGIN USUÁRIO -->
                {% if tipo == 'usuario' and action == 'login' %}
                <form method="post" action="?action=login&tipo=usuario" class="formulario" id="login-usuario">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="usuario">
                    <h2>Login Usuário</h2>
                    {% if error %}
                        <p style="color: red; text-align: center;">{{ error }}</p>
                    {% endif %}
                    {{ form.email }}
                    {{ form.senha }}
                    <button type="submit">Entrar</button>
                    <div class="alternar-acao">
                        <a href="javascript:void(0)" onclick="setAcao('cadastro')">Não tem conta? Cadastre-se</a>
                    </div>
                </form>
                {% endif %}
            

                <!-- FORM LOGIN PSICÓLOGO -->
                {% if action == 'login' and tipo == 'psicologo' %}
                <form method="POST" action="?action=login&tipo=psicologo" class="formulario" id="login-psicologo">
                    {% csrf_token %}  
                    <input type="hidden" name="tipo" value="psicologo">
                    <h2>Login Psicólogo</h2>
                    {% if error %}
                        <p style="color: red; text-align: center;">{{ error }}</p>
                    {% endif %}
                    {{ form.crp }}
                    {{ form.email }}
                    {{ form.senha }}
                    <button type="submit">Entrar</button>
                    <div class="alternar-acao">
                        <a href="javascript:void(0)" onclick="setAcao('cadastro')">Não tem conta? Cadastre-se</a>
                    </div>
                </form>
                {% endif %}


                <!-- FORM CADASTRO USUÁRIO -->
                {% if action == 'cadastro' and tipo == 'usuario' %}
                <form method="POST" action="?action=cadastro&tipo=usuario" class="formulario ativo" id="cadastro-usuario">
                    {% csrf_token %}    
                    <input type="hidden" name="tipo" value="usuario">
                    <h2>Cadastro Usuário</h2>
                    {{ form.nome }}
                    {{ form.email }}
                    {{ form.senha }}

                    <button type="submit">Cadastrar</button>
                    <div class="alternar-acao">
                        <a href="javascript:void(0)" onclick="setAcao('login')">Já tem conta? Faça login</a>
                    </div>
                </form>
                {% endif %}


                <!-- FORM CADASTRO PSICÓLOGO -->
                {% if action == 'cadastro' and tipo == 'psicologo' %}
                    <form  method="POST" action="?action=cadastro&tipo=psicologo" class="formulario ativo" id="cadastro-psicologo">
                    {% csrf_token %}
                    <input type="hidden" name="tipo" value="psicologo">
                    <h2>Cadastro Psicólogo</h2>
                    {{ form.nome }}
                    {{ form.email }}
                    {{ form.crp }}
                    {{ form.area_atuacao }}
                    {{ form.senha }}
                    <button type="submit">Cadastrar</button>
                    <div class="alternar-acao">
                        <a href="javascript:void(0)" onclick="setAcao('login')">Já tem conta? Faça login</a>
                    </div>
                    </form>
                {% endif %}
 
            </div>
        </div>
    </div>
    
    <script>
        
        let acao = '{{ action }}';
        let tipo = '{{ tipo }}';
    
        function atualizarForm() {
            document.querySelectorAll('.formulario').forEach(f => f.classList.remove('ativo'));
            const form = document.getElementById(`${acao}-${tipo}`);
            if (form) form.classList.add('ativo');
        }
    
        function setTipo(novoTipo) {
            tipo = novoTipo;
            const novaUrl = new URL(window.location);
            novaUrl.searchParams.set("action", acao);
            novaUrl.searchParams.set("tipo", tipo);
            window.location = novaUrl.toString();
        }

    
        function setAcao(novaAcao) {
            acao = novaAcao;
            const novaUrl = new URL(window.location);
            novaUrl.searchParams.set("action", acao);
            novaUrl.searchParams.set("tipo", tipo);
            window.location = novaUrl.toString();
        }

    
        document.addEventListener('DOMContentLoaded', atualizarForm);
    </script>
{% endblock %}