{% extends 'template.html' %}
{% load static %}

{% block titulo %}Novo Post{% endblock %}

{% block head %}
{{ form.media }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/novo_post.css' %}"/>
{% endblock %}



{% block conteudo %}
<div class="page-layout">
  <form method="post" action="#" enctype="multipart/form-data" class="novo-post-form">
    <h2>Novo Post</h2>
    {% csrf_token %}
    <div class="form-group">{{ form.titulo.label_tag }}{{ form.titulo }}</div>
    <div class="form-group">{{ form.thumbnail.label_tag }}{{ form.thumbnail }}</div>
    <div class="form-group">
      <label for="{{ form.conteudo.id_for_label }}">Conteúdo:</label>
      {{ form.conteudo }}
    </div>
    <div>
      <div class="botoes">
    <button type="submit" >Salvar</button>
    <a href="{% url 'admin_posts' %}" class="cancel-link btn btn-outline-secondary">Cancelar</a>
  </div>
  </div>
  </form>
</div>


{% endblock %}
