{% extends 'template.html' %}
{% load static %}

{% block titulo %}Novo Post{% endblock %}

{% block head %}
{{ form.media }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/novo_post.css' %}"/>
{% endblock %}



{% block conteudo %}
<div class="page-layout">
    <div class="left-sidebar p-3 text-white">
        <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
        <div class="perfil-box d-flex align-items-center gap-2 mb-4">
                    <img src="/static/img/default-profile.png" alt="Perfil" class="profile-pic">
                    <h6 class="mb-0">Usuário</h6>
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-light text-start"><i class="bi bi-house-door me-2"></i>Página Inicial</button>
                    <button class="btn btn-light text-start"><i class="bi bi-search me-2"></i>Pesquisar</button>
                    <button class="btn btn-light text-start"><i class="bi bi-bell me-2"></i>Notificações</button>
                    <button class="btn btn-light text-start"><i class="bi bi-person me-2"></i>Meu Perfil</button>
                    <a class="btn btn-light text-start" href="{% url 'forum' %}" ><i class="bi bi-chat  me-2"></i> Fórum</a>
                    <a class="btn btn-light text-start" href="{% url 'blog' %}"><i class="bi bi-file-earmark-text me-2"></i>Blog</a>
                    <a class="btn btn-light text-start" href="{% url 'admin_posts' %}"><i class="bi bi-file-earmark-text me-2"></i>Administrar Posts</a>
        </div>
    </div>

  <form method="post" action="#" enctype="multipart/form-data" class="novo-post-form">
    <a href="{% url 'admin_posts' %}" class="btn btn-secondary mb-3">← Voltar</a>
    <h2>Novo Post</h2>
    {% csrf_token %}
    <div class="form-group">{{ form.titulo.label_tag }}{{ form.titulo }}</div>
    <div class="form-group">{{ form.thumbnail.label_tag }}{{ form.thumbnail }}</div>
    <div class="form-group">
      <label for="{{ form.conteudo.id_for_label }}">Conteúdo:</label>
      {{ form.conteudo }}
    </div>
    <button type="submit" >Salvar</button>
    <a href="{% url 'blog' %}" class="cancel-link">Cancelar</a>
  </form>
</div>



    <script>
    function toggleSidebar() {
    document.querySelector('.left-sidebar').classList.toggle('active');
  }

    document.addEventListener('click', function(event) {
    const sidebar = document.querySelector('.left-sidebar');
    const toggle = document.querySelector('.sidebar-toggle');
    
    if (sidebar.classList.contains('active') && !sidebar.contains(event.target) && !toggle.contains(event.target)) {
      sidebar.classList.remove('active');
    }
  });


  
    </script>
{% endblock %}
