{% extends 'template.html' %}

{% load static %}



{% block titulo %} Index {% endblock %}

{% block conteudo %}
    <a href="#"> Cadastre-se</a>
    <a href="{% url 'login'%}">login</a>
    <a href="{% url 'usuarios'%}">login</a>
    <h1 id="h1Usuarios">Usuários</h1>
    <table>
        <tr id="trUsuarios">
            <th>Nome</th>
            <th>E-mail</th>
            <th>senha</th>
            <th>crp</th>
            <th>area de atuação</th>
        </tr>
        {% for user in listUsuarios %}
            <tr>
                <td>{{user.nome}}</td>
                <td>{{user.email}}</td>
                <td>{{user.senha}}</td>
                <td>{{user.crp}}</td>
                <td>{{user.area_atuacao}}</td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}